@{
	Layout = "_Layout";
	ViewData["Title"] = "Oops!";
}

<p class="text-center">
	<h1>Oops...</h1>
	A response with that email address already exists. Did you mean to <a asp-action="EditData" asp-controller="Home">edit</a> your data?
</p>
Click <a class="nav-link" asp-action="ListResponses">here</a> to see a complete list of all responses.