@model PartyInvites.Models.GuestResponseMinimal

@{
	Layout = "_Layout";
	ViewData["Title"] = "Edit your invitation";
}

<div class="panel panel-success">
	<div class="panel-heading text-center"><h4>Edit your invitation</h4></div>
	<div class="panel-body">
		<form class="p-a-1" asp-action="EditData" method="post">
			<div asp-validation-summary="All"></div>
			<div class="form-group">
				<label asp-for="Email">Your email:</label>
				<input class="form-control" asp-for="Email" />
			</div>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">
					Submit
				</button>
			</div>
		</form>
	</div>
</div>