@{
	Layout = "_Layout";
	ViewData["Title"] = "Oops!";
}

<p class="text-center">
	<h1>Oops...</h1>
	Something went wrong. Please <a asp-action="EditData" asp-controller="Home">try again</a>.
</p>
Click <a class="nav-link" asp-action="ListResponses">here</a> to see a complete list of all responses.